@{
    ViewData["Title"] = "Sistema de controle ambiental";
}

@{
    if (@User.Identity.IsAuthenticated)
    {
        <h4>Bem vindo, @User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value</h4>
    }
}