@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <br />
    <h5>Trabalho de conclusão de curso</h5>
    <br />
    <p>Aluno: Bruno Zanholo</p>
    <p>Repositório: <a href="https://github.com/BrunoZanholo/TCC">https://github.com/BrunoZanholo/TCC</a></p>
</div>